.container {

    width: 30%;
    margin: auto;

}
span {

    color: red;

}


/* Section 1 */


#section1 label {

    padding: 3px;

}

#section1 input[type=text], input[type=email] {

    padding: 3px;

}

#section1 select {

    width: 80%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color:rgb(221, 221, 221);

}

#section1 textarea {

    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

}

#section1 button  {

    border-radius: 8px;
    background-color:#4B99AD;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}

/* Section 2 */


#section2 h3 {

    margin-top: 50px;

}

#section2 label {

    padding: 5px;

}

.tel {

    width: 10px;
}

#section2 select {

    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color:rgb(221, 221, 221);

}

#section2 button {

    border-radius: 8px;
    background-color:rgb(255, 133, 0);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/* Section 3 */

#section3 {

    color: rgb(242, 130, 179);

}

#section3 #fieldset1 {

    margin: 10px;
    background-color: rgb(255, 244, 244);
    border-color: rgb(211, 124, 153);

}

#section3 #fieldset2 {

    background-color: rgb(255, 244, 244);
    border-color: rgb(211, 124, 153);
}

#section3 legend {

    color: rgb(255, 211, 227);
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: rgb(211, 124, 153);
    border-radius: 2px; 
    padding: 3px;
    background-color:rgb(255, 244, 244);

}

#section3 select {

    background-color: rgb(255, 211, 227);
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
        

}

#section3 button {

    border-radius: 8px;
    background-color: rgb(235, 59, 136);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}

#section4 {

    color: whitesmoke;
    background-color: rgb(73, 92, 112)
}

#section4 label {

    display: block;
    width: 50%;
    float: left;

}

#section4 p {

    padding:10px;

}

#section4 input[type=text] {
    
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px dashed;
    border-color: rgb(22, 22, 22);
    background-color: rgb(73, 92, 112) 
}

#section4 button {

    border-radius: 8px;
    background-color: rgb(87, 110, 134);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;

}

#section5 {

    background-color: rgb(244, 247, 248);  

}

#section5 h3 {

    font-size: 30px;

}

#section5 input[type=text], #section5 input[type=email], #section5 textarea, #section5 select {

    background-color: rgb(232, 238, 239);
    border-radius: 4px;
    display: block;
    width: 80%;
    margin: auto;

}

#section5 button {

    font-size: 30px;
    background-color: rgb(26, 188, 156);
    border: none;
    color: white;
    width: 100%;
    height: 80px;
    padding: 16px 32px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;

}

#section6 {

    background-color: rgb(244, 247, 248);

}

#section6 input[type=text], #section6 textarea {

    width: 95%;
    text-align: center;
    margin: auto;

}

.contact {
    color: whitesmoke;
    text-align: center;
    padding: 15px;
    background-color: rgb(26, 188, 156); 

}

#section6 button {

    font-size: 15px;
    background-color: rgb(26, 188, 156);
    border: none;
    color: white;
    width: 100%;
    height: 80px;
    padding: 16px 32px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;

}

#section7 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

#section7 h2 {

    font-size: 30px;
    font-weight: 700;

}

#section7 fieldset {

    border-radius: 3px;
    padding: 0;


}

#section7 input {

    text-align: center;
    border-radius: 3px;
    padding: 0;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(243, 243, 243);
    border: none;
}

#section7 button {

    margin-top: 30px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(36, 113, 255);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;

}

#section8 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#section8 h2 {

    margin: 0;
    font-size: 20px;
    font-weight: 500;

}

#section8 form, #section8 fieldset {

    margin: 0;

}

#section8 .account {

    color: rgb(173, 172, 172);
    text-align: left;
    padding: 30px 0 30px 5px;
    background-color: rgb(77, 77, 77);

}

#section8 input {

    color: rgb(173, 172, 172);
    width: 95%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(173, 172, 172);
    
}

#section8 button {


    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(44, 187, 187);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin: auto;

}



#section9 fieldset {

    border: 5px solid rgb(48, 90, 114);
    border-radius: 3px;

}

#section9 input, #section9 textarea {

    padding: 5px 0 5px 0;
    border: 0.5px solid ;
    border-color: rgb(209, 227, 237);

}
#section9 .subject, #section9 textarea {

    width: 95%;

}

#section9 button {
    
    border: none;
    border-radius: 1px;
    color: whitesmoke;
    background-color: rgb(33, 98, 136);
    padding: 10px;

}

#section10 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#section10 .head {
    
    background-color: rgb(42, 136, 173);
    color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

#section10 h3 {

    color: rgb(42, 136, 173);

}

#section10 .section {

    background-color: rgb(248, 248, 248);
    border: none;

}
#section10 fieldset {

    color: rgb(180, 180, 180);

}

#section10 button {

    border: none;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(42, 136, 173);
    padding: 10px 15px 10px 15px;
    float: left;
    margin: 0 100px 0 0;

}
 #section10 .checkbox {

    font-size: 12px;

 }

